* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
:root {
  --Dark-01: #131313;
  --Dark-02: #424242;
  --Dark-03: #727272;
  --section-bg: #fff4e7;
  --btn-bg: #ff900e;
}
img {
  width: 100%;
}
li {
  list-style: none;
  color: #000;
}
a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--Dark-02);
}
p {
  color: var(--Dark-03);
  line-height: 26px;
}
h1 {
  font-size: 64px;
  font-weight: 700;
  color: var(--Dark-01);
}
h2 {
  font-size: 45px;
  font-weight: 700;
  color: var(--Dark-02);
}
button {
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: var(--btn-bg);
  color: white;
  text-align: center;
  border: none;
}
/* ======================== */
/* Heading Section start */

header {
  background-color: var(--section-bg);
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.span {
  color: white;
  background-color: #000000da;
  border-radius: 5px;
  padding: 2px 5px;
}
nav ul {
  display: flex;
  gap: 50px;
}
.menu {
  display: none;
}
.banner-text {
  padding: 100px 0 35px 0;
}
.banner-text p {
  padding-top: 10px;
}
.banner-image {
  padding-top: 50px;
}

/* ======================== */
/* Quick list Section start */

.quick-list {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}
.quick-list {
  padding-bottom: 0px;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 48%;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  width: 48%;
}

.text-container .btn {
  text-align: left;
}
.span1 {
  color: var(--Dark-03);
  font-weight: 500;
}
.span2 {
  color: #ff900e;
}

/* ======================== */
/* Features you will love & enjoy */
.feature-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 130px auto;
  padding: 0 20px;
  /* border: 1px dotted red; */
}
.feature-list-container {
  width: 48%;
  text-align: left;
  display: grid;
  gap: 20px;
}
.feature-heading {
  border-left: 5px solid var(--btn-bg);
  padding-left: 15px;
  color: var(--Dark-01);
}
.feature-list-container > p,
h2 {
  text-align: left;
}
.feature-list-container h2 {
  font-weight: 600;
}
.feature-img-container {
  position: relative;
  width: 48%;
}

/* ======================== */
.feature-card-container {
  display: grid;
  gap: 20px;
}
.feature-card {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.feature-card h3 {
  margin-bottom: 10px;
  /* border-bottom: 1px solid var(--btn-bg);  */
  border-radius: 5px;
  padding: 2px;
}
h3 i {
  padding-right: 10px;
  color: var(--btn-bg);
  font-size: 20px;
}

.experience {
  position: absolute;
  bottom: -50px;
  left: -50px;
  padding: 40px;
  border-radius: 8px;
  background-color: var(--btn-bg);
}
.experience h2 {
  color: white;
  text-align: center;
}
.experience p {
  color: white;
  text-align: center;
}

/* Responsive Section start */
/* ======Mobile================== */
@media screen and (max-width: 576px) {
  nav ul {
    display: none;
  }
  .menu {
    display: block;
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  /* =========== */
  .quick-list {
    display: flex;
    flex-direction: column;
  }
  .img-container,
  .text-container,
  .feature-list-container,
  .feature-img-container {
    width: 100%;
  }
  .feature-list {
    flex-direction: column;
    gap: 75px;
  }
  .feature-img-container {
    padding: 0 20px;
  }
  .experience {
    display: none;
  }
}

/* ======Tablet================== */
@media screen and (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  nav{
  display: none;

  }
  .menu {
  display: block;
}
  .quick-list {
    display: flex;
    flex-direction: column;
  }
  .img-container,
  .text-container,
  .feature-list-container,
  .feature-img-container {
    width: 100%;
  }
  .img-container {
    padding: 0 30px;
  }
  .feature-list {
    flex-direction: column;
    gap: 75px;
  }
  .feature-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-img-container {
    padding: 0 20px;
  }
  .experience {
    display: none;
  }
}

/* ====== Desktop================== */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .feature-list {
    flex-direction: column;
    gap: 75px;
  }
  .feature-list-container,
  .feature-img-container {
    width: 100%;
  }
  .feature-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-img-container {
    padding: 0 50px;
  }
  .experience {
    display: none;
  }
}
